:root{
  --primary-color: #80CFD5;
  --secondary-color: #007d98;
  --third-color: #6dc3cc;
  --text-color:#ffffff;
  --text-secondary: #007d98;
  --succes-color: #7C9900;
  --alert-color: #99007C;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Sarabun', sans-serif;
  color: var(--text-color);
  line-height: 1.4;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:  var(--text-color)
}

h1, h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
  
}

p{
  margin: .8rem 0;
}

img{
  width: 100%
}

.hidden{
  visibility: hidden;
  height: 0;
}

/*Navbar Style */

.navbar{
  background-color: var(--secondary-color);
  color: var(--text-color);
  height: 4rem;
  
}

.navbar .flex{
  justify-content: space-between;
  overflow: visible;
}

.navbar ul{
  display: flex;
}

.navbar a{
  color: var(--text-color);
  padding: .8rem;
  margin: 0 .7rem
}

.navbar a:hover{
  border-bottom: 2px var(--text-color) solid;
  border-radius: 5px;
}

/*Showcase*/
.showcase{
  height: 500px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.showcase h1{
  font-size: 2.7rem;
}

.showcase p{
  margin: 1.5rem 0
}

.showcase .grid{
  grid-template-columns: 55% 45%;
  gap: 1.9rem;
  overflow: visible;
}

.showcase-text{
  animation: slideInFromLeft 1.5s ease-in;
}

.showcase-form{
  position: relative;
  top: 6rem;
  height: 21rem;
  width: 22rem;
  padding: 2.5rem;
  justify-self: flex-end;
  z-index: 100;
  animation: slideInFromRight 1.5s ease-in;
}

.showcase-form .form-control{
  margin: 20px 0;
}

.showcase-form h2{
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
  background-color: var(--secondary-color);
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
}

.showcase-form input::placeholder{
  color: var(--primary-color)
}

.showcase-form input:focus{
  outline: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--primary-color) !important;
}

input{
  color: var(--primary-color)
}

.showcase::before, 
.showcase::after{
  content:'';
  position: absolute;
  height: 6.25rem;
  bottom: -4.375rem;
  right: 0;
  left: 0;
  background: var(--text-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}


/*Stats*/

.stats{
  padding-top: 6.25rem;
  color: var(--text-secondary);
  
}

.stats{
  animation: slideInFromBottom 3s ease-in;
}

.stats-heading{
  font-size: 1.2rem;
}

.stats .grid h3{
  font-size: 1.5rem;
}

.stats .grid p{
  font-size: 1.3rem;
  font-weight: bold;
}

/*CLI*/

.cli .grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/*Cloud*/

.cloud .grid{
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex{
  flex-wrap: wrap;
  overflow: visible;
}

.languages .card{
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  color: var(--secondary-color)
}

.languages .card h4{
  margin-bottom: .6rem;
}

.languages .card:hover{
  transform: scale(1.05);
}

/*Features*/
.features-head .grid,
.docs-head .grid{
  grid-template-columns: 5fr 1fr;
}

.features-head img,
.docs-head img{
  width: 15rem;
}

.features-sub-head {
  color: var(--secondary-color);
  
}

.features-sub-head p{
  text-align: justify;
}

.features-sub-head .container div:nth-child(1){
  order: 2;
  justify-self: flex-end;
}

.features-sub-head .container img{
  width: auto;
}

.features-sub-head .container{
  padding: 0 1rem
}

/*Features Main*/

.features-main .card > i{
  margin-right: 1.2rem;
}

.features-main .grid{
  padding: 1.8rem;
}

.features-main .grid > *:first-child{
  grid-column: 1/ span 3;
}

.features-main .grid > *:nth-child(2){
  grid-column: 1/ span 2;
}

/*Docs */

.docs-main nav li{
  font-size: 1.1rem;
  padding-bottom: .3rem;
  margin-bottom: .3rem;
}

.docs-main a:hover{
  font-weight: bold;
}

.docs-main h3{
  margin: .6rem 0;
}

.docs-main .grid{
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.alert-succes{
  margin-bottom: 1rem;
}

pre,
code{
  background-color: #002240;
  color: #9EFFFF;
  padding: .3rem 1rem
}

.first-card a{
  color: var(--secondary-color);
  font-weight: 600;
}

/*Footer*/

.footer{
  margin-top: 3rem;
}

/*Animations*/

  @keyframes slideInFromLeft{
    0%{
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-webkit-transform: translateX(-100%);
      -o-webkit-transform: translateX(-100%);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight{
    0%{
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromBottom{
    0%{
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }

  
  @keyframes slideInFromTop{
      0%{
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    100%{
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);;
    }
  }


/* Tablets & under */
@media(max-width: 768px){
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-head .grid,
  .features-sub-head .grid,
  .features-main .grid,
  .docs-main .grid,
  .docs-head .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase{
    height: auto;
  }

  .showcase-text{
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    animation: slideInFormTop 1.5s ease-in;
  }

  .showcase-text h1{
    font-size: 4rem ;
    margin-bottom: 4rem;
  }

  .showcase-form{
    justify-self: center;
    margin: auto;
    animation: slideInFormBottom 1.5s ease-in;
  }

  .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  .cli img{
    width: 100%;
  }

  .features-head,
  .features-sub-head,
  .docs-head{
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img{
    justify-self: center;
  }

  .features-main .grid >*:first-child,
  .features-main .grid >*:nth-child(2){
    grid-column: 1;
  }

  .features-sub-head .grid img{
    order: 2;
  }
}
/* Mobile */
@media(max-width: 500px){
  .navbar{
    height: 8rem;
  }

  .navbar .flex{
    flex-direction: column;
  }

  .navbar ul{
    padding: .6rem;
    margin-bottom: .5rem;
    background-color: rgba(50, 60, 1, 0.1);
  }
}
