:root{
  --primary-color: #80CFD5;
  --secondary-color: #007d98;
  --third-color: #6dc3cc;
  --text-color:#ffffff;
  --text-secondary: #007d98;
  
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Sarabun', sans-serif;
  color: var(--text-color);
  line-height: 1.4;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color:  var(--text-color)
}

h1, h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0;
  
}

p{
  margin: .8rem 0;
}

img{
  width: 100%
}

/*Navbar Style */

.navbar{
  background-color: var(--secondary-color);
  color: var(--text-color);
  height: 4rem;
  
}

.navbar .flex{
  justify-content: space-between;
  overflow: visible;
}

.navbar ul{
  display: flex;
}

.navbar a{
  color: var(--text-color);
  padding: .8rem;
  margin: 0 .7rem
}

.navbar a:hover{
  border-bottom: 2px var(--text-color) solid;
  border-radius: 5px;
}

/*Showcase*/
.showcase{
  height: 500px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.showcase h1{
  font-size: 2.7rem;
}

.showcase p{
  margin: 1.5rem 0
}

.showcase .grid{
  grid-template-columns: 55% 45%;
  gap: 1.9rem;
  overflow: visible;
}

.showcase-form{
  position: relative;
  top: 6rem;
  height: 21rem;
  width: 22rem;
  padding: 2.5rem;
  justify-self: flex-end;
  z-index: 100;
}

.showcase-form .form-control{
  margin: 20px 0;
}

.showcase-form h2{
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.showcase-form input[type='text'],
.showcase-form input[type='email']{
  background-color: var(--secondary-color);
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
}

.showcase-form input::placeholder{
  color: var(--primary-color)
}

.showcase-form input:focus{
  outline: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--primary-color) !important;
}

input{
  color: var(--primary-color)
}

.showcase::before, 
.showcase::after{
  content:'';
  position: absolute;
  height: 6.25rem;
  bottom: -4.375rem;
  right: 0;
  left: 0;
  background: var(--text-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}


/*Stats*/

.stats{
  padding-top: 6.25rem;
  color: var(--text-secondary);
}

.stats-heading{
  font-size: 1.2rem;
}

.stats .grid h3{
  font-size: 1.5rem;
}

.stats .grid p{
  font-size: 1.3rem;
  font-weight: bold;
}

/*CLI*/

.cli .grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/*Cloud*/

.cloud .grid{
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex{
  flex-wrap: wrap;
  overflow: visible;
}

.languages .card{
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  color: var(--secondary-color)
}

.languages .card h4{
  margin-bottom: .6rem;
}

.languages .card:hover{
  transform: scale(1.05);
}

.footer{
  margin-top: 3rem;
}

/* Tablets & under */
@media(max-width: 768px){
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase{
    height: auto;
  }

  .showcase-text{
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
  }

  .showcase-form{
    justify-self: center;
    margin: auto;
  }

  .cli .grid > *:first-child{
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  .cli img{
    width: 100%;
  }
}
/* Mobile */
@media(max-width: 500px){
  .navbar{
    height: 8rem;
  }

  .navbar .flex{
    flex-direction: column;
  }

  .navbar ul{
    padding: .6rem;
    margin-bottom: .5rem;
    background-color: rgba(50, 60, 1, 0.1);
  }
}
