/*Utilities*/
.container{
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2.2rem;
}

.card{
  background-color:var(--secondary-color);
  color: var(--text-color) ;
  border-radius: 10px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  margin: .5rem 
}

.btn{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: -1px 1px 1px var(--primary-color);
  color: var(--primary-color);
  font-size: 1.1rem
}

.btn-outline{
  background-color: var(--primaryary-color);
  border: 2px var(--text-color) solid;
  color: var(--text-color);
  padding: .2rem 2rem;
}

.btn:hover{
  transform: scale(.9);
}

/*Backgrounds and colored buttons*/

.bg-primary,
.btn-primary{
  background-color: var(--secondary-color)
}

.bg-light{
  background-color: var(--primary-color);
}

.bg-pure{
  background-color: var(--text-color);
  color: var(--secondary-color);
}

/*Text sizes */

.lead{
  font-size: 1.25rem; 
}

.sm{
  font-size: 1rem;
}

.md{
  font-size: 2rem;
}

.lg{
  font-size: 3rem;
}

.xl{
  font-size: 4rem;
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-3{
  grid-template-columns: repeat(3, 1fr);
}

/*Margin*/

.my-1{
  margin: 1rem 0;
}

.my-2{
  margin: 1.5rem 0;
}

.my-3{
  margin: 2rem 0;
}

.my-4{
  margin: 3rem 0;
}

.my-5{
  margin: 3.5rem 0;
}

.m-1{
  margin: 1rem ;
}

.m-2{
  margin: 1.5rem;
}

.m-3{
  margin: 2rem;
}

.m-4{
  margin: 3rem;
}

.m-5{
  margin: 3.5rem;
}

.py-1{
  padding: 1rem 0;
}

.py-2{
  padding: 1.5rem 0;
}

.py-3{
  padding: 2rem 0;
}

.py-4{
  padding: 3rem 0;
}

.py-5{
  padding: 3.5rem 0;
}

.p-1{
  padding: 1rem ;
}

.p-2{
  padding: 1.5rem;
}

.p-3{
  padding: 2rem;
}

.p-4{
  padding: 3rem;
}

.p-5{
  padding: 3.5rem;
}

/*CLI*/

.cli .card{
  color: var(--secondary-color);
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  height: auto;
  text-align: center;
}


/*Alert*/

.alert-succes{
  background-color:var(--succes-color);
}

.alert-problem{
  background-color: var(--alert-color);
}

.alert i{
  margin: 0 .5rem;
}



